@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Ubuntu:wght@300&display=swap');

body{
    background-color: rgb(8, 5, 19);
}

.topnav{
    background-color: rgb(1, 158, 158);
    overflow: hidden;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
}

.topnav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Ubuntu, monospace ;
    font-weight: bold;
}

.topnav a:hover{
    background-color:gray;
    color: white;
}

.topnav a.active{
    background-color:black;
    color: whitesmoke;
}

.paragraph{
    color: white;
    font-family: Oswald, monospace;
    font-size: larger;
}

.links{
    color: white;
}

.links :visited{
    color: gray;
}

.links :hover{
    color: whitesmoke;
}
